.wholeShift {
  display: flex;
  flex-direction: row;
  height: 150px;
  align-items: center;
  justify-content: center;
}

.shiftDescriptions {
  height: 85px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.twoRow {
  display: flex;
  flex-direction: row;
  height: 100px;
  border: 1px solid #66081A;
  margin-left: 5px;
}

.letterBoxes {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #66081A;
  font-size: 18px;
  width: 40px;
  justify-content: space-evenly;
  align-items: center;
}

.inputBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.buttonContainer {
  height: 100px;
  max-width: 25%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.heading1 {
  text-align: center;
}

.largerText {
  font-size: 18px;
}

.extraLarge {
  font-size: 40px;
  margin-left: 20px;
}

.btn {
  background-color: #66081A;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 10px 10px;
}

.btn:hover {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.btn:active {
  background-color: #470a15;
}

.fsuHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menuContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #66081A;
  min-width: 100%;
}

.menuOption {
  list-style-type: none;
  font-size: 25px;
  color: white;
  padding: 15px 15px;
  margin: auto 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.promoLink {
  color: blue;
  text-decoration: none;
}

.promoLink:active {
  color: cyan;
  text-decoration: none;
}

.menuOption:hover {
  background-color: #470a15;
}

.menuLink {
  text-decoration: none;
  color: black;
}

.stoneWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.stonesHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.ticButton {
  background-color: rgb(133, 216, 255);
  border: 1px solid black;
  float: left;
  font-size: 72px;
  font-weight: bold;
  line-height: 102px;
  height: 102px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 102px;
}

.ticRow:after {
  clear: both;
  content: "";
  display: table;
}

.ticGame {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  min-width: 100%;
}

.horizontal>div {
  margin: auto 15px;
}

.nimButtonHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nimButton {
  width: 210px;
  background-color: #782F40;
  border: none;
  border-radius: 1em;
  color: white;
  padding: 10px 0px;
  margin: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.nimButton:active {
  background-color: #750f27;
}

.info {
  max-width: 800px;
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 15px 35px;
  border-radius: 1.5em;
  font-size: 18px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
}

.stoneBorder {
  background-color: black;
  border-radius: 1.5em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 45%;
  align-items: center;
  justify-content: center;
  padding: 15px 0px;
}

.checkerRed {
  border: 3px solid black;
  border-radius: 50%;
  background-color: #66081A;
  height: 75px;
  width: 75px;
}

.checkerYellow {
  border: 3px solid black;
  border-radius: 50%;
  background-color: #CEB888;
  height: 75px;
  width: 75px;
}

.checkerEmpty {
  border: 3px solid black;
  border-radius: 50%;
  background-color: white;
  height: 75px;
  width: 75px;
}

.checkerRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 75px;
  width: 750px;
}

.checkerDrop {
  width: 35px;
  font-size: 24px;
  user-select: none;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #789399;
}

.checkerDrop:hover {
  border: 3px solid black;
  border-radius: 50%;
  background-color: #CEB888;
  color: #CEB888;
  height: 75px;
  width: 75px;
}

.checkerDropContainer {
  width: 75px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkerDropRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
}

.checkerGame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
}

.centerText {
  text-align: center;
}

.dropdown {
  appearance: none;
  border: none;
  border-radius: 0.25em;
  padding: 1em 1.15em;
  margin: 0em .5em 1em .5em;
  font-size: 1.25rem;
  background-color: #fff;
}

.minesBorder {
  background-color: black;
  border: 2px solid black;
}

.mineCovered {
  background-color: rgb(135, 135, 135);
  color: black;
  width: 30px;
  height: 30px;
  margin: 0px;
  display: inline-block;
  border: .5px solid black;
}

.mineFlag {
  background-color: red;
  color: red;
  width: 30px;
  height: 30px;
  margin: 0px;
  display: inline-block;
  border: .5px solid black;
}

.mineCovered:active {
  background-color: rgb(65, 65, 65);
  width: 30px;
  height: 30px;
  margin: 0px;
  display: inline-block;
  border: .5px solid black;
}

.mineExposed {
  background-color: rgb(191, 191, 191);
  color: black;
  width: 30px;
  height: 30px;
  margin: 0px;
  display: inline-block;
  border: .5px solid black;
  font-size: 16px;
  font-weight: 400;
}

.mineBomb {
  border: 1px solid black;
}

.mineRows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.minePopup {
  color: rgb(74, 74, 255);
  text-decoration: underline;
  cursor: pointer;
}

.ticRow {
  display: flex;
  flex-direction: row;
}

.ticSquare {
  display: flex;
  justify-content: center;
  background-color: white;
  color: #66081A;
  font-size: 50px;
  user-select: none;
  align-items: center;
  border: 1px solid black;
  height: 100px;
  width: 100px;
}

.targetHeading {
  padding: 5px 0px 0px 0px;
  margin: 0px;
}

.targetExplanation {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 850px;
  background-color: white;
  border-radius: 1.5em;
  padding: 0em 1em;
  margin-top: 1em;
}

.colors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.colors>div {
  margin: 0em 1.5em;
}

.card {
  border: 1px solid black;
  border-radius: .25em;
  width: 160px;
  height: 210px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  user-select: none;
}

.cardHidden {
  border: 1px solid black;
  border-radius: .2em;
  width: 160px;
  height: 210px;
  background-color: black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 42px;
  user-select: none;
}

.cardHolderRed {
  background-color: pink;
  display: flex;
  width: 600px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: .5em;
  padding: 1em;
}

.cardHolderBlue {
  background-color: aqua;
  display: flex;
  width: 600px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: .5em;
  padding: 1em;
}

.cardHolderRed>div {
  margin: auto 10px;
}

.cardHolderRed>p {
  font-size: 20px;
}

.cardHolderBlue>div {
  margin: auto 10px;
}

.cardHolderBlue>p {
  font-size: 20px;
}

.homeImage {
  background-color: rgb(127, 127, 127);
  color: white;
  font-size: 20px;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
}

.mandelbrot>p {
  margin: 15px 0px 0px 0px;
}

.vertical>p {
  margin-top: 0px;
}

.vertical>h1 {
  margin-bottom: 10px;
}

.welcome {
  max-width: 1400px;
  padding: 10px;
}

.shapeHolder {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 10px;
  justify-content: space-around;
}

.shapeHolder>Image {
  margin: 30px;
}

.infoCardHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.infoCard {
  background-color: black;
  max-width: 750px;
  color: white;
  padding: .75em 1.5em;
  margin: 10px 10px;
  border-radius: .8em;
  box-shadow: 0 10px 10px rgb(0 0 0 / 0.5);
}

.infoH {
  margin-top: .15em;
  margin-bottom: .15em;
}

.infoP {
  margin-top: .15em;
  margin-bottom: .15em;
}

.infoCall {
  color: #cd0d30;
}

.factContainer {
  position: fixed;
  top: -10px;
  right: 10px;
  text-align: center;
  width: 450px;
}

.fact {
  position: absolute;
  color: white;
  width: 450px;
  height: 200px;
  padding: 15px 15px;
  text-align: left;
  background-image: url("../assets/speech bubble.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.factClose {
  position: absolute;
  font-size: 20px;
  text-align: center;
  top: 25px;
  right: 20px;
  color: white;
  background-color: black;
  border-radius: 50%;
  border: none;
}

.border {
  border: 2px solid red;
}

.thousandHeight {
  height: 1px;
  width: 50px;
  background-color: blue;
  margin: 0px 25px 0px 25px;
}

.millionHeight {
  height: 1000px;
  width: 50px;
  background-color: yellowgreen;
  margin: 0px 25px 0px 25px;
}

.billionHeight {
  height: 1000000px;
  width: 50px;
  background-color: plum;
  margin: 0px 25px 0px 25px;
}

.moneyChart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}








@media only screen and (max-width: 1300px) {
  .factContainer {
    position: static;
  }

  .factClose {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .colors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .colors>div {
    margin: 1.5em 0em;
    max-width: 95%;
  }
}

@media only screen and (max-width: 1400px) {
  .info {
    max-width: 85%;
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 15px 35px;
    margin-bottom: 50px;
    border-radius: 1.5em;
  }

  .stoneBorder {
    background-color: black;
    border-radius: 1.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 85%;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .reverse {
    display: flex;
    flex-direction: column-reverse;
  }

  .wholeShift {
    display: flex;
    flex-direction: column;
  }

  .letterBoxes {
    display: flex;
    flex-direction: row;
    width: 100px;
    height: 50px;
  }

  .twoRow {
    display: flex;
    flex-direction: column;
  }
}